<!--<div>
  <div class="redBackground customWidth">一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟一只鸟</div>
  <div>See what's happening in the world right now</div>

  <div>Join Twitter today.</div>
  <button type="button" class="btn btn-outline-secondary">Sign up</button>
  <button type="button" class="btn btn-outline-secondary">Log in</button>
</div>-->

<!--<hr>-->
<!--<div class="outerContainer">
  盒模型-->
  <!--<div class="innerContainerAbsolute">
    Absolute
  </div>
  <div class="innerContainerRelative">
    Relative
  </div>-->
<!--</div>-->

<!--<div class="container-1">
  &lt;!&ndash;AbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsolute&ndash;&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus nisl bibendum odio malesuada, vitae placerat quam venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum consectetur placerat. Nam eu eros ac dolor lacinia elementum.
</div>
<div class="container-1">
  Absolute
</div>
<div class="container-1">
  Absolute
</div>
<div class="container-1">
  Absolute
</div>
<div class="container-1">
  Absolute
</div>
<div class="container-1">
  Absolute
</div>
<div class="container-1">
  Absolute
</div>
<!-</div>-->

<div class="container">

  <footer>
    <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>Taco Menu</li>
        <li>Draft List</li>
        <li>Hours</li>
        <li>Directions</li>
        <li>Contact</li>
      </ul>
    </nav>

  <section>
    section的margin-left样式确保了有足够的空间容纳nav的元素。
  </section>
  <section class="column">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus nisl bibendum odio malesuada, vitae placerat quam venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum consectetur placerat. Nam eu eros ac dolor lacinia elementum. Curabitur elit tellus, malesuada sed elit id, porttitor rutrum dolor. Sed in scelerisque dui, at sodales purus. Donec at leo in libero cursus ornare.
  </section>
  <section>
    注意观察当你调整浏览器窗口时发生了什么。效果很赞！
  </section>


  </body>
  </footer>

</div>

<!--<div class="container">
  &lt;!&ndash; Stack the columns on mobile by making one full-width and the other half-width &ndash;&gt;
  <div class="row">
    <div class="col-12 col-md-8">.col-12 .col-md-8</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  </div>

  &lt;!&ndash; Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop &ndash;&gt;
  <div class="row">
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  </div>

  &lt;!&ndash; Columns are always 50% wide, on mobile and desktop &ndash;&gt;
  <div class="row">
    <div class="col-6">.col-6</div>
    <div class="col-6">.col-6</div>
  </div>
</div>&ndash;&gt;-->

<!--<head>
  <style>
&lt;!&ndash;div.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
} &ndash;&gt;

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;`
  height: 100px;
  border: 3px solid #73AD21;
}
</style>
</head>
<body>

<h2>position: absolute;</h2>

<p>An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed):</p>

<div class="relative">This div element has position: relative;
  <div class="absolute">This div element has position: absolute;</div>
</div>

</body>-->
